body {
    margin: 0;
    background-color: #252522;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'compile__button'
        'input'
        'output';
   grid-template-rows: auto auto 1fr;
   min-height: 100vh;
}

.compile__button {
    grid-area: compile__button;
    justify-self: right;
    width: 200px;
    height: 35px;
    font-size: 1.2em;
    margin: 0;
    background-color: #27ae60; 
    color: white;
    border: none;
}

.compile__button:hover {
   cursor: pointer;
   filter: brightness(90%)
}

.input {
    grid-area: input;
    font-size: 16px; 
}

.output {
    grid-area: output;
    background-color: rgb(24, 24, 24);
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 20px
}
